@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --pdx: 3em;
    --gray: #e2e1de;
    --white: #FFFFFE;
    --black: black;
    --bg: #e6e6e6;
}

.hide-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
  
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

@font-face {
    font-family: poppins;
    src: url("./assets/fonts/Poppins-Regular.ttf");
    font-display: swap;
}

/* @font-face {
    font-family: ubun;
    src: url("./assets/fonts/Ubuntu-Regular.ttf");
} */

@font-face {
    font-family: urba;
    src: url("./assets/fonts/Urbanist-Regular.ttf");
    font-display: swap;

}

.pop {
    font-family: poppins, sans-serif;
}

/* .ubun {
    font-family: ubun;
} */

.urba {
    font-family: urba, sans-serif;
}

body {
    background-color: var(--white);
}